*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.Navbar{
    text-align: center;
    background-color: black;
    color:brown;
}
.Navbar .menu{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.Navbar .menu a{
    color:blue;
    text-decoration: none;
}
.AboutMe{
    background-color: grey;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.AboutMe h1{
 text-align: center;
 color:brown;
 margin-bottom: 10px;
}
.AboutMe img{
    margin: auto;
    display: block;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   margin-bottom: 10px;
}
.section{
    background-color: grey;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.section h1{
    color: brown;
    text-align: center;
    margin-bottom: 10px;
}

.footer{
    background-color: black;
    color: brown;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.footer .menu2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
.footer .menu2 a{
    color:blue;
    text-decoration: none;
}